body {
    background-color: #533A7B;
}

.section {
    background-color: transparent !important;
    min-height: 100vh;
    color: white;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.text-pacifico {
    font-family: 'Pacifico', cursive;
}

.text-lobster {
    font-family: 'Lobster', cursive;
}

.grad-red-trans {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(219,50,77,1));
}

.grad-blue-trans {
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,64,193,1));
}

.grad-trans-blue {
    background-image: linear-gradient(to top, rgba(0,64,193,1), rgba(255,0,0,0));
}

.nav-gap {
    padding-top: 56px;
}

.card {
    background-color: #533A7B;
    /* background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(152,147,218,1)); */
    /* background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(219,50,77,1)); */
    /* background-color: rgb(219, 50, 77) */
    /* color: black; */
}

.img-cover {
    height: 100%;
    object-fit: cover;
}

/* mobile styling */
@media only screen and (max-width: 767px) {
    .fit-line {
        font-size: 7vw;
    }
}